
<div id="menu" class="skin">
    <div class="menuitems">
        <a href="javascript:void(0)">解码</a>
    </div>
    <div class="menuitems">
        <a href="javascript:void(0)">编码</a>
    </div>
    <br/>
    <div class="menuitems">
        <a href="javascript:void(0)" onclick="getSelectText()">复制内容</a>
    </div>
    <div class="menuitems">
        <a href="javascript:void(0)">时间转换</a>
    </div>
        
</div>

<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>
</body>
</html>