
<% include header.ejs %>

<div class="container-fluid">
    <div class="row">

        <% include left.ejs %>

        <div class="col-md-9">
            <div class="col-md-9" style="padding-top:150px; font-size:25px">
               <p class="text-success text-center font-weight">请根据问题选择相应模块查询</p> 
            </div>
            
            <% include right.ejs %>

        </div>
    </div>
</div>

<% include footer.ejs %>

