<div class="col-md-3">
    <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
        <li class="active">
            <a href="#">
                <i class="glyphicon glyphicon-th-large"></i>
                口袋助理
            </a>
        </li>
        <% for (var index=0; index<modelsPropertys.length; index++){ %>
            <li>
                <a href="./<%= modelsAttributes[index][0].attributes[0].nodeValue %>">
                    <i class="glyphicon glyphicon-cog"></i>
                    <%= modelsPropertys[index][0].firstChild.data %>
                    <!-- <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> -->
                </a>
            </li>
        <% } %>
    </ul>
</div>